/* 
COLORS
#FF5F5F
#002A32
#4ECdC4
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    height: 130vh;
    color: #002A32;
}

.section.-presentation {
    background-color: #002A32;
    color: #FFF;
}

.section.-pastime {
    background-color: #FF5F5F;
    height: 165vh;
}

.section.-skills {
    background-color: #4ECdC4;
    height: 100vh;
}
.title {
    font-size: 64px;
    padding-top: 50px;
    text-align: center;
}

.card-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-pastime {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 80px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    width: 280px;
}
.subtitle {
    font-size: 36px;
    padding: 20px 0px;
}

.text {
    width: 300px;
}

.profile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding-top: 30px;
}

.pastime {
    width: 500px;
    height: 300px;
    border: 1px solid white;
}

.skill {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250 250px;
    gap: 20px;
}

.html, .css, .js, .react, .node, .python {
    display: flex;
    gap: 10px;
    padding-bottom: 100px;
    position: relative;
    left: 90%;
    top: 60%;
}

.icon {
    width: 100px;
    height: 100px;
}

.footer {
    height: 100px;
    background-color: #FF5F5F;
}

.social {
    text-align: center;
}

.icon.-social {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-top: 25px;
}